.full-width{
    width:100%;
}
.link-text{
    color:#0205b0;
}
.link-text:hover{
    text-decoration: underline;
    cursor: pointer;
}
.auth-button{
    color: #ffffff;
    background: #428BCA;
}
.auth-button:hover{
    background: #3071A9;
    color: #ffffff;
}
.underline{
    display: inline-block;
     position: relative;
   }
   
.underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.underline:hover:after {
  opacity: 1;
  color:#ca45fe;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.buttonIcon{
    margin-right: 5px;
}
#mapId { height: 400px; }

.table-title, .admin-title{
    font-size: 1.5em;
}
.map-title{
    font-size: 1.3em;
}
.plans-table{
    border-collapse: separate;
    empty-cells:hide;
}
.table-container{
    width: 100%;
    overflow-x: auto;
}


.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.m-20{
    margin-bottom: 20px !important;
}
.p-20{
    padding: 20px !important;
}
.p-b-20{
    padding-bottom: 20px !important;
}
.checked {
    color: orange !important;
  }
.active a{
  color:#ca45fe !important;
  font-weight:500 !important;
}
.about-text{
    color:#6c83fe;
}