.full-width{
    width:100%;
}
.link-text{
    color:#0205b0;
}
.link-text:hover{
    text-decoration: underline;
    cursor: pointer;
}
.auth-button{
    color: #ffffff;
    background: #428BCA;
}
.auth-button:hover{
    background: #3071A9;
    color: #ffffff;
}
.underline{
    display: inline-block;
     position: relative;
   }
   
.underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.underline:hover:after {
  opacity: 1;
  color:#ca45fe;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.buttonIcon{
    margin-right: 5px;
}
#mapId { height: 400px; }