.full-width{
    width:100%;
}
.link-text{
    color:#0205b0;
}
.link-text:hover{
    text-decoration: underline;
    cursor: pointer;
}
.auth-button{
    color: #ffffff;
    background: #428BCA;
}
.auth-button:hover{
    background: #3071A9;
    color: #ffffff;
}
