<div class="modal-header">
    <h3 class="float-left">Reviews</h3>
    <button type="button" ng-click="writeReview()" class="btn btn-dark float-right"><i
            class="fas fa-pencil-alt buttonIcon"></i>Write a Review</button>
</div>
<div class="modal-body">
    <div ng-switch="reviews.length>0">
        <div ng-switch-when="true">
            <div class="form-row" ng-repeat="(key, value) in reviews">
                <div class="form-group col-xs-12 col-md-12">
                    <div class="card">
                        <div class="p-20">
                            <span ng-repeat="n in [1,2,3,4,5] | limitTo:getNumber(value.ReviewRating)"
                                class="fa fa-star checked m-20"></span>
                            <p class="card-subtitle font-weight-light font-italic mb-2"> {{value.ReviewDate}} </p>
                            <p class="card-subtitle font-weight-light mb-2"> {{value.ReviewerName}} -
                                {{value.ReviewerEmail}} </p>
                            <h4 class="card-subtitle mb-2"> {{value.ReviewTitle}}</h4>
                            <p>{{value.ReviewDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p ng-switch-when="false" class="font-weight-bold">No Reviews</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
</div>